<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="rcloneBin" value="C:\DATA\rclone-v1.57.0-windows-amd64\rclone.exe"/>
		<!--
		Example: <add key="rcloneRemoteN" value="DRIVELETTER;RCLONEREMOTE"/>
		Leave it empty if not set: <add key="rcloneRemoteN" value=""/>
		-->
		<add key="rcloneRemote1" value="R:;pi:/myFiles"/>
		<add key="rcloneRemote2" value=""/>
		<add key="rcloneRemote3" value=""/>
	</appSettings>
</configuration>
